global.css

:root {
  --text-color-light: #000;
  /* Default text color for light theme */
  --text-color-dark: #fff;
  /* Text color for dark theme */
}

body {
  margin: 0;
  font-family: 'Arial',
  sans-serif;
}

/* Apply the text color based on the current theme */
body.dark-theme {
  --text-color: var(--text-color-dark);
}

body.light-theme {
  --text-color: var(--text-color-light);
}

/* Apply the text color to all elements */
body.dark-theme * {
  color: var(--text-color);
}
body.light-theme * {
  color: var(--text-color);
}
